header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
    color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

.container {
  display: flex;
  padding-top: 36px;
  margin-bottom: 78px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.tuna {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.backward {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.camera {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cat {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.image {
  display: flex;
  height: 300px;
  align-items: center;
}

.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

#main-headline {
  font-size: 40px;
  text-align: left;
  padding-left: 20px;
}

.articles {
  display: flex;
  justify-content: space-between;
}

.articles .text {
  height: 250px;
}

.article {
  width: 300px;
}

.bites span {
  margin: 0px;
  border-bottom: 1px solid black;
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 20px;
}

.bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  height: 325px;
}

#logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 30px;
}

footer span {
  display: inline-block;
}

footer nav {
  display: inline-block;
}

.column span {
  align-content: center;
}
